body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #111;
    color: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #000;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}
/* HERO SECTION */
.hero {
    text-align: center;
    padding: 150px 20px;
    background: url('https://images.unsplash.com/photo-1521335629791-ce4aec67dd47?auto=format&fit=crop&w=1500&q=80') no-repeat center/cover;
}

.hero h2 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 10px 0 30px;
}

.btn {
    background: white;
    color: black;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background: #ffcf33;
}

/* AUTH PAGES */
.auth-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

.auth-container {
    background: #000;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
}

.auth-container h2 {
    margin-bottom: 20px;
}
.auth-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
}

.auth-container p {
    margin-top: 15px;
}

.auth-container a {
    color: #ffcf33;
}